table {
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 50px;
    vertical-align: bottom;
    text-align: center;
}

#but {
    text-align: center;
    margin:auto;
}

body {
    background-image: url("assets/mainpage_bckg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

img.header {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#detect, #attract, #return {
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
}
